@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    p {
        @apply mb-3
    }
}

body {
    color: rgb(202, 196, 244);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    /* Para Firefox */
    appearance: textfield;
    /* Propiedad estándar */
}

